.container {
  @apply flex overflow-x-hidden overflow-y-auto;
  width: 100%;
  height: calc(100vh - $taskbar_height - $tabbar_height);
}
.container_canvas {
  @apply flex overflow-x-hidden overflow-y-auto;
  background: $canvas_color;
  flex-grow: 1;
  > div {
    width: 100%;
  }
}
.sidebar {
  background: $sidebar_color;
  color: whitesmoke;
  width: $sidebar_width;
  height: calc(100vh - $taskbar_height - $tabbar_height);
  overflow-y: auto;
}

.taskbar {
  background: $taskbar_color;
  height: $taskbar_height;
  .server_name {
    @apply text-white font-mono font-light text-sm p-0 items-center mx-auto;
  }
  .nav {
    @apply flex items-center relative;
    height: $taskbar_height;
    @media screen and (max-width: 640px) {
      .responsive {
        @apply flex flex-col absolute right-2 top-6;
        background-color: $taskbar_color;
        visibility: hidden;
        &:hover {
          visibility: visible;
        }
        a {
          @apply py-1 px-2 hover:bg-slate-400/20;
        }
      }
      .menu_btn:hover + .responsive {
        visibility: visible;
      }
    }

    a {
      @apply px-2 m-0 font-light font-sans text-white inline-flex hover:underline;
      &.logo {
        @apply hover:no-underline text-2xl font-bold text-teal-300  mx-2 px-0.5 rounded-sm;
        &:hover {
          @apply text-blue-800 bg-blue-50;
        }
      }
    }

    .sidebar_btn {
      @apply inline-block sm:hidden mr-0 text-teal-300 hover:text-teal-100;
    }
  }
}

.icons_container {
  @apply flex justify-between items-center pl-1 border-r border-gray-600 bg-blue-500;
  width: $sidebar_width;
  svg {
    @apply text-white px-1 rounded-sm cursor-pointer hover:bg-blue-700;
  }
  .search_box {
    @apply flex justify-center items-center w-full px-1;
    input {
      width: 100%;
      background: none;
      outline: none;
      border: none;
      font-size: smaller;
      color: whitesmoke;
    }
    button {
      background: none;
      outline: none;
      border: none;
    }
  }
}
